.l-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  padding: 1em;
  // background: rgba(0, 0, 0, 0.2);
  color: #fff;

  &__logo {
    display: inline-block;
    max-width: 220px;
  }
}
